body {
	background-color: #222225;
}

h2, h3, h4, h5, h6 {
	color: #FF8C00;
}

p, li, a {
	color: #fff;
}

hr {
	margin-top: 20px;
	width: 95%;
	height: 10px;
	border: 1px solid #222225;
    box-shadow: 0 10px 10px -10px #000 inset;
}

/* CONTEUDO PRINCIPAL */

.conteudoPrincipal {
	display: grid;
	grid-template-columns: 100%;
	height: 450px;
	background-size: cover;
}

#ads {
	background-image: url(../_imagens/detalheCursoAds.jpg);
}

#bd {
	background-image: url(../_imagens/detalheCursoBd.jpg);
}

#redeCom {
	background-image: url(../_imagens/detalheCursoRc.jpg);
}

#gti {
	background-image: url(../_imagens/detalheCursoGti.jpg);
}

.titulo {
	display: grid;
	align-items: center;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
}

/* CONTAINER DO CONTEUDO */

.container {
	display: grid;
	grid-template-columns: 100%;
	margin: 0 5%;
}

/* SOBRE E MAIS INFORMAÇOES */

.sobreInformacoes {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 20px;
}

.periodoDuracao {
	display: grid;
	grid-template-columns: 15% 20% 15% 20%;
	align-items: center;
	width: 500px;
	font-size: 1em;
}

.maisInformacoes p {
	margin-bottom: 5px;
	font-size: 1em;
}

.maisInformacoes input {
	width: 93%;
	height: 23px;
	border: 1px solid #FF8C00;
	background-color: #222225;
}

.maisInformacoes button {
	width: 80px;
	height: 40px;
	margin-top: 20px;
	font-size: 1em;
	background-color: #222225;
	border: 1px solid #FF8C00;
	color: #fff;
}

.maisInformacoes button:hover {
	transition: .9s ease;
	color: #222225;
	border: 1px solid #FF8C00;
	background-color: #FF8C00;
}

/* GRADE */

.grade {
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	grid-column-gap: 5%;
}

.gradeTitulo {
	text-align: center;
}

.grade li {
	list-style-type: none;
	padding: 20px;
	border: 1px solid #FF8C00;
}

.grade1 {
	background-color: #FF8C00;
	color: #fff
}

/* PROCESSO SELETIVO */

.processoSeletivo {
	text-align: center;
	margin-bottom: 40px;
}

.processoSeletivo button {
	width: 100px;
	height: 40px;
	background-color: #222225;
	border: 1px solid #FF8C00;
	color: #fff;
}

.processoSeletivo button:hover {
	transition: .9s ease;
	color: #222225;
	border: 1px solid #FF8C00;
	background-color: #FF8C00;
}

/* MOBILE */

	@media screen and (max-width: 750px)
	{
		.titulo {
			font-size: 1em;
		}
		.sobreInformacoes {
			display: grid;
			grid-template-columns: 100%;
		}

		.grade {
			grid-template-columns: 100%;
		}
	}

	@media screen and (max-width: 400px)
	{
		.periodoDuracao {
			grid-template-columns: 50% 50%;
			width: 200px;
		}
	}