p {
	color: #fff;
}

h1,h2,h3{
	color:orange;
	text-align:center;
	
}

.cp{
	margin: 0 5%
}

img{
	max-width:100%;
	height:auto;	
	
}

.disc{
display:grid;
grid-template-columns:40% 60%;
margin-top: 50px;

}

.descricao{
	margin:1em;
	padding-left:1em;
}

.imagem{
	margin:1em;
	
	width:100%;
	display:flex;
	align-items:center;
}

@media only screen and (max-width:750px){

.disc{
display:grid;
grid-template-columns:100%;
margin-top: 50px;

}

.imagem{
	margin-right:1em;
	display:flex;
	justify-content:center;	
	
}
}
