.disciplinas h1 {
font-family: sans-serif;
color: #24c7b1;
text-align: center;
}

.disciplinas ul a:hover{
color:#24c7b1;

}

.disciplinas ul a:visited{
color:#3b3b3b;
}


.menuDiscAds img{
	display:flex;
	height: 30%;
	width: 45%;
	margin-left: auto;
    	margin-right: auto;
	justify-content:center;
	margin-bottom: 5px
}

.menuDiscAds{ 
    	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	flex-direction:column;   
		
}

.menuDiscAds a {
	
	padding:2em
}


.disciplinas{
	padding:4em;
	
}

.linkDisc{

	text-align:center;
	padding:2em;
}
