@charset "utf-8";

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/*Cabeçalho*/

.header{
    display: flex;
    flex-wrap: wrap;
    background-color: #222225;
}

.logo{
    flex: 1;
    color: #ffffff;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: 2;
}
a{
    color: #ffffff;
    font-family: "Source Sans Pro",Arial,sans-serif;
}

/*Rodapé*/

.rodape{
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: #222225;
    height: 100px;
    align-items: center;
    color: white;
}

