@charset "utf-8";

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/*Cabeçalho*/

.header{
    display: flex;
    flex-wrap: wrap;
    background-color: #222225;
}

.logo{  
    justify-content: space-around;
}

.logo img{
    width: 200px;
    height: auto;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 2;
    padding-right: 2em;
}
.menu a{
    font-size: 1em;
    color: #ffffff;
    font-family: "Source Sans Pro",Arial,sans-serif;
    text-decoration-line: none;
    padding: 0.5em;
    margin: 0.5em;

}
.menu a:hover{
    transition: .9s ease;
    color: #FF8C00;

}

/* Rodapé */

.rodape{
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: #222225;
    height: 100px;
    align-items: center;
    color: #fff;
} 
