/* CONTEUDO PRINCIPAL */

.conteudoPrincipal {
	display: grid;
	grid-template-columns: 100%;
	height: 450px;
	background-size: cover;
}

.titulo {
	display: grid;
	align-items: center;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
}

/* CONTAINER DO CONTEUDO */

.container {
	display: grid;
	grid-template-columns: 100%;
	margin: 0 5%;
}

/* SOBRE E MAIS INFORMAÇOES */

.sobreInformacoes {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 20px;
}

.periodoDuracao {
	display: grid;
	grid-template-columns: 15% 20% 15% 20%;
	align-items: center;
	width: 500px;
	font-size: 1em;
}

.maisInformacoes p {
	margin-bottom: 5px;
	font-size: 1em;
}

.maisInformacoes input {
	width: 93%;
	height: 23px;
	border: 1px solid #ddd;
}

.maisInformacoes button {
	width: 80px;
	height: 40px;
	margin-top: 20px;
	border: none;
	font-size: 1em;
	background-color: #212121;
	color: #fff;
}

.maisInformacoes button:hover {
	background-color: #1F65E8;
}

/* GRADE */

.grade {
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	grid-column-gap: 5%;
}

.gradeTitulo {
	text-align: center;
}

.grade li {
	list-style-type: none;
	padding: 20px;
	border: 1px solid #ddd;
}

.grade1 {
	background-color: #212121;
	color: #fff
}

/* PROCESSO SELETIVO */

.processoSeletivo {
	text-align: center;
	margin-bottom: 40px;
}

.processoSeletivo button {
	width: 100px;
	height: 40px;
	border: none;
	font-family: 'Questrial', sans-serif;
	background-color: #212121;
	color: #fff;
}

.processoSeletivo button:hover {
	background-color: #1F65E8;
}

/* MOBILE */

	@media screen and (max-width: 750px)
	{
		.titulo {
			font-size: 1em;
		}
		.sobreInformacoes {
			display: grid;
			grid-template-columns: 100%;
		}

		.grade {
			grid-template-columns: 100%;
		}
	}

	@media screen and (max-width: 400px)
	{
		.periodoDuracao {
			grid-template-columns: 50% 50%;
			width: 200px;
		}
	}