@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Arimo:700|Questrial');

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

p, li, strong {
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arimo', sans-serif;
    font-size: 2em;
}

/*Cabeçalho*/

.header{
    display: flex;
    flex-wrap: wrap;
    background-color: #212121;
}

.logo{
    flex: 1;
    color: #ffffff;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: 2;
}
a{
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
}

/*Rodapé*/

.rodape{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #212121;
    height: 50px;
    align-items: center;
    color: white;
}

